{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h3 class="page-header text-center">
        Message de réinitialisation du mot de passe envoyé
    </h3>
    <div class="col-md-6 col-md-offset-3">
        <p class="text-lead text-center">
            Nous vous avons envoyé par courriel les instructions pour changer de mot de passe,
            pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.
            Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et
            contrôlez votre dossier de pourriels.
        </p>

    </div>
{% endblock %}



