{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="text-center">
                    Formulaire de Modification
                </h4>
            </div>
            <div class="panel-body">
                <form method="post" action=".">{% csrf_token %}
                    <fieldset>
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "check" %} Modifier
                            </button>
                            <button type="reset" class="btn btn-danger">
                                {% bootstrap_icon "refresh" %}  Annuler
                            </button>
                        {% endbuttons %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}