{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h3 class="page-header text-center">
        Mot de passe perdu ?
        Saisissez votre adresse électronique ci-dessous et nous vous enverrons
        les instructions pour en créer un nouveau.
    </h3>
    <div class="col-md-6 col-md-offset-3">
        <h2 class="page-header">Réinitialiser Mon Mot de Passe</h2>
        <form method="POST" action=".">{% csrf_token %}
            <fieldset>
                {% bootstrap_form form %}
                <hr />
                {% buttons %}
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "refresh" %} Réinitialiser mon Mot de Passe
                        </button>
                    </p>
                {% endbuttons %}
            </fieldset>
        </form>
    </div>
{% endblock %}



