{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h3 class="page-header text-center">
        Saisissez deux fois votre nouveau mot de passe afin de vérifier qu'il est correctement saisi.
    </h3>
    <div class="col-md-6 col-md-offset-3">
        <h2 class="page-header">Saisissez un nouveau mot de passe</h2>
        <form method="POST" action=".">{% csrf_token %}
            <fieldset>
                {% bootstrap_form form %}
                <hr />
                {% buttons %}
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "edit" %} Modifier mon Mot de Passe
                        </button>
                    </p>
                {% endbuttons %}
            </fieldset>
        </form>
    </div>
{% endblock %}



